// for the list of posts

.section__title {
	font-size: $section__title-font-size;
}

.post-list__item {
	margin-bottom: 2.5em;
}

.item__title--big {
	display: block;
	font-size: $item__title-big-font-size;
	line-height: 1.0;
	font-size: 1.3rem;
	text-transform: uppercase;
	margin-bottom: 0;
}

.item__title--small {
	font-size: 1rem;
}

.item__date {
	color: $item__date-color;
	//font-size: $item__date-font-size;
	margin-bottom: .2rem;
	margin-top: .2rem;
	margin-right: .1rem;
}

.headerDesc {
	margin-top: .0rem;
	font-size: .70rem;
}