.theme-base-j-vs {
	--color_orange: #dd7d06; /*va orance */
	--color_brightOrange: #ff8d00;
	--color_blightOrange: #c3a989;
	--color_orange2: #de9133;
	--color_green: #b0b458; /*va green --color_green_reflex: #b4e703; */
	--color_yellow: #ffd700; /*va yellow*/
	--color_blue:#3178ca;
	--color_purple:#b161a6;
	--color_pingconst:#d69d85;
	--color_grayText:#b4b4b4;

	--color_darkGrayText: #898989; /*text2*/
	--color_lightGrayGrayText: #b3b3b3; /*text */

	--color_vsLightGray: #252526;
	--color_vsDarkGray: #1e1e1e;

	--color_darkOrange: #231710;
	--color_green2: #90a959;

	--color_greenLighterForest:#9ca991;
	--color_greenMute: #75b5aa;

	ul.pagination li.page-item.active a {
		color: var(--color_greenMute) !important;
	}

	.content a {
		color: var(--color_green);
	}
	.related-posts li a:hover {
		color: var(--color_greenMute);
	}

	.item__date {
		color: (--color_lightGrayGrayTextvar) !important; //#90a959 var(--color_orange2)
	}
	.badge-category,
	a.badge-category,
	.badge-tag,
	a.badge-tag{
		color: var(--color_green2)  !important; // #90a959
		background-color:var(--color_bluePurpleDarkerLighter);
	}
	h1 {
		font-size: 1.4rem;
		color: var(--color_green);
		//opacity: .9;
	}

	--color_brownishDarkGray: #2d2622;
	--color_brownishGray: #211d1b;

	--color_woodBrown:#1f1c19; //!!
	--color_woodBrownA:#191714; //--color_woodBrownDarker
	//--color_woodBrown: #1d1b17;
	//--color_woodBrown: #1d1714; //!

	--color_lightBrown:#1d1712;
	--color_woodBrownBlack:#0f0e0d;

	--color_bluePurple:#1e1e23;
	--color_bluePurpleDarker: #17171b;
	--color_bluePurpleDarkerLighter: #1a1a1f;
	--colorDarkSidebarPurple:#241b2e;

	.collapsible-menu label {
		border-bottom: 2px solid black;
		text-transform: uppercase;
		//font-size: 1.8rem;
	}
	.collapsible-menu label span {
		opacity: 0.5;
	}
	.collapsible-menu label span:hover, .site__title h1:hover  {
		opacity: 0.8;
	}
	background-color: var(--color_bluePurpleDarker);
		.sidebar {
		background-color: var(--color_bluePurpleDarkerLighter);
		border-right: 2px solid black;
	}
}

	/////////////////////////////////////////////////////
.theme-base-08 {
	.sidebar {
		background-color: #ac4142;
	}
	.content a {
		color: #ac4142;
	}
	.related-posts li a:hover {
		color: #ac4142;
	}
}
.theme-base-09 {
	.sidebar {
		background-color: #d28445;
	}
	.content a {
		color: #d28445;
	}
	.related-posts li a:hover {
		color: #d28445;
	}
}
.theme-base-0a {
	.sidebar {
		background-color: #f4bf75;
	}
	.content a {
		color: #f4bf75;
	}
	.related-posts li a:hover {
		color: #f4bf75;
	}
}

.theme-base-0f {
	.sidebar {
		background-color: #8f5536;
	}
	.content a {
		color: #8f5536;
	}
	.related-posts li a:hover {
		color: #8f5536;
	}
}