.theme-base-j-vs {
	--color_orange: #dd7d06; /*va orance */
	--color_brightOrange: #ff8d00;
	--color_blightOrange: #c3a989;
	--color_orange2: #de9133;
	--color_green: #b0b458; /*va green --color_green_reflex: #b4e703; */
	--color_yellow: #ffd700; /*va yellow*/
	--color_blue:#3178ca;
	--color_purple:#b161a6;
	--color_pingconst:#d69d85;
	--color_grayText:#b4b4b4;

	--color_darkGrayText: #898989; /*text2*/
	--color_lightGrayGrayText: #b3b3b3; /*text */

	--color_vsLightGray: #252526; /*light gray*/
	--color_vsDarkGray: #1e1e1e;

	--color_darkOrange: #231710;

	--color_bluePurple:#1e1e23;
	--color_bluePurpleDarker: #17171b;
	--color_bluePurpleDarkerLighter: #1a1a1f;
	--colorDarkSidebarPurple:#241b2e;

	background-color: var(--color_bluePurple);
	.sidebar {
		background-color: var(--color_bluePurple);
		border-right: 3px solid var(--color_bluePurpleDarker);
	}
	ul.pagination li.page-item.active a {
		color: var(--color_orange2) !important;
	}

	.content a {
		color: var(--color_green);
	}
	.related-posts li a:hover {
		color: var(--color_orange2);
	}

	.item__date {
		color: var(--color_orange2) !important;
	}
	.badge-category,
	a.badge-category {
		color: var(--color_purple) !important;
		background-color:var(--color_bluePurpleDarkerLighter);
	}
	h1 {
		color: var(--color_green); 
	}
}

.theme-base-j-va {
	@extend .theme-base-j-vs;

	--color_brownishDarkGray: #2d2622;
	--color_brownishGray: #211d1b;

	--color_woodBrown:#1f1c19;
	--color_lightBrown:#1d1712;
	--color_woodRedBrownRedish:#1d1313;

	background-color: var(--color_woodBrown);
	.sidebar {
		background-color: var(--color_woodBrown);
		border-right: 2px solid var(--color_woodRedBrownRedish);
	}
}

	/////////////////////////////////////////////////////
.theme-base-08 {
	.sidebar {
		background-color: #ac4142;
	}
	.content a {
		color: #ac4142;
	}
	.related-posts li a:hover {
		color: #ac4142;
	}
}
.theme-base-09 {
	.sidebar {
		background-color: #d28445;
	}
	.content a {
		color: #d28445;
	}
	.related-posts li a:hover {
		color: #d28445;
	}
}
.theme-base-0a {
	.sidebar {
		background-color: #f4bf75;
	}
	.content a {
		color: #f4bf75;
	}
	.related-posts li a:hover {
		color: #f4bf75;
	}
}
.theme-base-0b {
	.sidebar {
		background-color: #90a959;
	}
	.content a {
		color: #90a959;
	}
	.related-posts li a:hover {
		color: #90a959;
	}
}
.theme-base-0c {
	.sidebar {
		background-color: #75b5aa;
	}
	.content a {
		color: #75b5aa;
	}
	.related-posts li a:hover {
		color: #75b5aa;
	}
}
.theme-base-0d {
	.sidebar {
		background-color: #6a9fb5;
	}
	.content a {
		color: #6a9fb5;
	}
	.related-posts li a:hover {
		color: #6a9fb5;
	}
}
.theme-base-0e {
	.sidebar {
		background-color: #aa759f;
	}
	.content a {
		color: #aa759f;
	}
	.related-posts li a:hover {
		color: #aa759f;
	}
}
.theme-base-0f {
	.sidebar {
		background-color: #8f5536;
	}
	.content a {
		color: #8f5536;
	}
	.related-posts li a:hover {
		color: #8f5536;
	}
}