.theme_colors {
    background-color:  #898989; /*text2*/
    background-color:  #1e1e1e; /*back  */
    background-color:  #2d1a1b; /*back redish*/
    background-color:  #898989; /*text2*/
    
    background-color:  #270517; /*back purplish */
 
    background-color:  #181818; /*greenD */
    background-color:  #b3b3b3; /*text */
}

.theme-base-j-vs {
	--color_orange: #dd7d06; /*va orance */
	--color_green: #b0b458; /*va green --color_green_reflex: #b4e703; */
	--color_yellow: #ffd700; /*va yellow*/
	--color_blue:#3178ca;
	--color_purple:#b161a6;
	--color_pingconst:#d69d85;
	--color_grayText:#b4b4b4;

	--color_vsLightGray: #252526; /*light gray*/
	--color_vsDarkGray: #1e1e1e;

	--color_darkOrange: #231710;
	
	--color_brownishDarkGray: #2d2622;
	--color_brownishGray: #211d1b;

	--color_bluePurple:#262334;
	--colorDarkSidebarPurple:#241b2e;

	// .item__date {
	// 	color: var(--color_yellow) !important;
	// }

	background-color: var(--color_vsDarkGray);
	.sidebar {
		background-color: var(--color_vsLightGray); 
	}
	
	.content a {
		color: var(--color_green);
	}
	.related-posts li a:hover {
		color: #ac4142;
	}
	.badge-category,
	a.badge-category {
		color: var(--color_purple) !important;
	  	// background-color:var(--color_darkOrange);
	}
	h1 {
		color: var(--color_green); 
	}
}

/////////////////////////////////////////////////////
.theme-base-08 {
	.sidebar {
		background-color: #ac4142;
	}
	.content a {
		color: #ac4142;
	}
	.related-posts li a:hover {
		color: #ac4142;
	}
}
.theme-base-09 {
	.sidebar {
		background-color: #d28445;
	}
	.content a {
		color: #d28445;
	}
	.related-posts li a:hover {
		color: #d28445;
	}
}
.theme-base-0a {
	.sidebar {
		background-color: #f4bf75;
	}
	.content a {
		color: #f4bf75;
	}
	.related-posts li a:hover {
		color: #f4bf75;
	}
}
.theme-base-0b {
	.sidebar {
		background-color: #90a959;
	}
	.content a {
		color: #90a959;
	}
	.related-posts li a:hover {
		color: #90a959;
	}
}
.theme-base-0c {
	.sidebar {
		background-color: #75b5aa;
	}
	.content a {
		color: #75b5aa;
	}
	.related-posts li a:hover {
		color: #75b5aa;
	}
}
.theme-base-0d {
	.sidebar {
		background-color: #6a9fb5;
	}
	.content a {
		color: #6a9fb5;
	}
	.related-posts li a:hover {
		color: #6a9fb5;
	}
}
.theme-base-0e {
	.sidebar {
		background-color: #aa759f;
	}
	.content a {
		color: #aa759f;
	}
	.related-posts li a:hover {
		color: #aa759f;
	}
}
.theme-base-0f {
	.sidebar {
		background-color: #8f5536;
	}
	.content a {
		color: #8f5536;
	}
	.related-posts li a:hover {
		color: #8f5536;
	}
}